<nav class="nav_body">

  <ul class="nav_items">
    <li class="nav_item">
      <a href="#">AboutMe</a>
      <div  class="nav_sub_items">
      <ul>
        <li class="nav_sub_item">
          <a href="#">ContactInfo</a>
          </li>
        <li class="nav_sub_item">
          <a href="#">SocialMEdiaInfo</a>
          </li>
      </ul>
      </div>
    </li>

    <li class="nav_item">
      <a href="#">MySKills</a>
      <ul class="nav_sub_items">
        <li class="nav_sub_item">
          <a href="#">ContactInfo</a>
          </li>
        <li class="nav_sub_item">
          <a href="#">SocialMEdiaInfo</a>
          </li>
      </ul>
    </li>

    <li class="nav_item">
      <a href="#">ContactInfo</a>
    </li>
  </ul>
</nav>
<div class="main_body">
  <div class="container">
    <div class="body_element1">
      HI how are you
      <button class="element1_button" (click)="mymethod()" >Open_Form</button>
      </div>
   <div class="body_element2">Hello</div>
    <div class="body_element3">SUno</div>
  </div>

  <div id="modal">
    <form>
      email: <input type="text">
      password: <input type="password">
      <button type="submit" class="close_modal">submit</button> 
    </form>
  </div>
  <div id="modal_background_color">
    
  </div>
  
</div>

















<footer class="footer_body">
  <ul class="footer_items">
    <li class="footer_item1" >
      <ul class="footer_item1_items">
        <li class="footer_item1_item1">
          <img class="footer_item1_img" src="/../assets/phone2.png" alt="phone">
        </li>
        <li class="footer_item1_item2">
          <p>7607090405</p>
        </li>
      </ul>
    </li>
    <li class="footer_item2" >
     <ul class="footer_item2_items">
        <li class="footer_item2_item1">
          <img class="footer_item2_img" src="/../assets/facebook1.png" alt="phone">
        </li>
        <li class="footer_item2_item2">
          <p>7607090405</p>
        </li>
      </ul>
    </li>
    <li class="footer_item3">
     <ul class="footer_item3_items">
        <li class="footer_item3_item1">
          <img class="footer_item3_img" src="/../assets/inli.png" alt="phone">
        </li>
        <li class="footer_item3_item2">
          <p>7607090405</p>
        </li>
      </ul>
    </li>
  </ul>
<footer>